{% extends 'site/components/_base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <section class="d-flex flex-column justify-content-center align-items-center">
        {% include "site/components/_login_form.html.twig" %}
    </section>
{% endblock %}
