{% extends "site/components/_base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {# <div class="js-locations" data-locations="{{ mapDonnees.locations }}"></div> #}
	
	<div class="row g-0 justify-content-center align-items-center mb-5">
		<h1 class="col-12 text-center my-5">{{ title }}</h1>
		<div class="col-12 col-md-10 col-lg-8 col-xl-6">
			{# affichage de la carte de France #}
			{{ ux_map(mapDonnees, {'data-controller': 'mymap', 'controller_id': false, style: 'height: 600px' }) }}
		</div>
	</div>


{% endblock %}
