{% extends 'site/components/_base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="row g-0 justify-content-center align-items-stretch py-5">
        <div class="col-11 col-sm-8 col-md-6 p-5 d-flex justify-content-center align-items-center">
            <img src="{{ asset('images/logo.png') }}" alt="Logo ErmMaps" class="img-fluid">
        </div>
        <div class="col-11 col-sm-8 col-md-6 p-3 p-md-5 shadow-lg d-flex justify-content-center align-items-center h3">L'api des localisations.</div>
    </div>
    
{% endblock %}
