<div class="p-2">
    <div class="d-flex align-items-center mb-2">
        <i class="fas fa-map-marker-alt fa-2x text-warning me-2"></i>
        <div>
            <h6 class="mb-0 fw-bold">{{ city.name }}</h6>
            <small class="text-muted fst-italic">Lieu de l'intervention</small>
        </div>
    </div>
</div>